.attention-btn{
     background: #42c02e;
     color: #fff;
     border: 1px  solid #42c02e;
     border-radius: 15px;
     padding: 0 10px;
     cursor: pointer;
}
.attentioned-btn{
    cursor: pointer;
}