.favorite-btn{
    font-size: 20px;
    width: 150px;
    height: 50px;
    display: flex;
    padding: 20px;
    margin: 30px auto;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    color: #ea6f5a;
    border: 2px solid #ea6f5a;;
    cursor: pointer;
}
.has-add-parise{
    background: #ea6f5a;
    color: #fff;
}