.article-page-title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.article-page-title .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.article-page-title .author{
    border: 1px solid #ea6f5a;
    color: #ea6f5a;
    border-radius: 3px;
    margin-right: 5px;
    padding: 0 5px;
}
.article-page-title .username{
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}
.article-page-title .article-data{
    margin-top: 5px;
}
.article-page-title .article-data span{
    color: #888;
    margin-right: 10px;
    font-size: 13px;
}

